.box {
  border: 2px black solid;
}

.element-choice {
  display: flex;
  justify-content: space-between;
  border: 2px red solid;
}

.box-password {
  display: flex;
  justify-content: center;
}

.element-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
